In [1]:
2+2

4

In [4]:
# define a variable
x = 5

In [3]:
x + 10

15

In [5]:
# define another variable; pi

pi = 3.14 # float

In [11]:
# define second variable: radius
radius = 6 # integer

In [9]:
# area of circle
pi * radius ** 2

314.0

In [10]:
# variables with letters are strings
a = "hello"

In [12]:
x

5

In [13]:
# convert x to a float

float(x)

5.0

In [14]:
str(x)

'5'

In [16]:
int(pi)

3

In [17]:
x

5

In [18]:
pi

3.14

In [19]:
float = 3.76

In [20]:
float(float)

TypeError: 'float' object is not callable

In [21]:
del float

In [22]:
float(x)

5.0

In [23]:
print(x)

5

In [24]:
print("my name is Ava")

my name is Ava

In [25]:
print(1+2)

3

In [26]:
print(type('Hello'))

<class 'str'>

In [27]:
print(type(2))

<class 'int'>

In [28]:
print(float(2))

2.0

In [29]:
print(len("Hello my name is Ava"))

20

In [30]:
print(len("Hello World!"))

12

In [35]:
# Let's create a list

list1 = [1, 5, 8, 9]

In [33]:
# multi variable-type list
list2 = [1, 'two', 3, 4.0]

In [34]:
tuple1 = (1,2,5,3)

In [36]:
# the variable "list1" is storing 4 integers in a list
list1

[1, 5, 8, 9]

In [37]:
x

5

In [38]:
type(list1)

list

In [39]:
type(x)

int

In [40]:
# While in a STR the len() function calculates the number of characters + whitespaces, in a LIST, the len() function
# calculates the number of characters between the commas; commas and whitespaces not counted

# syntax for a global function takes the form function_name(object_name)
len(list1)

4

In [42]:
# by using a list, we gain access to specific functions which ONLY work on list objects

# syntax for class methods (or functions) takes the form object_name.function_name(arguments)

# the append() function allows us to add a new value to the end of the list

list1.append(100)

In [43]:
list1

[1, 5, 8, 9, 100]

In [44]:
print(list1)

[1, 5, 8, 9, 100]

In [45]:
x.append(100)

AttributeError: 'int' object has no attribute 'append'

In [ ]:
x = 5
list1 = [1,3]

In [46]:
x.__class__

int

In [51]:
x.bit_count()

2

In [52]:
x.bit_length()

3

In [53]:
list1.extend([1,2,5,80,98])

In [54]:
list1

[1, 5, 8, 9, 100, 1, 2, 5, 80, 98]