In [ ]:
# lists, tuples, sets, dictionaries, conditional statements, and custom function

In [1]:
# create a new list

list1 = [12, 52, 5, 45, 8, 9, 18]

In [2]:
# indexing a list - indexing also works with strings, tuples, and other objects
# positioning in Python begins at position 0

list1[0] # when you use square brackets immediately beside the object name, we are signalling to python that we want to INDEX the object

12

In [3]:
list1[1]

52

In [4]:
# to count from the end, start at -1
list1[-1]

18

In [5]:
list1[-2]

9

In [6]:
# if I want to replace the first value in the list, I can isolate it and set it equal to something else
# this is called "item assignment"; this function makes the list a mutable object (something we can change)
list1[0] = 78

In [7]:
list1

[78, 52, 5, 45, 8, 9, 18]

In [10]:
list1.append(3)

In [11]:
list1

[78, 52, 5, 45, 8, 9, 18, 3, 3]

In [14]:
# class methods > they MAY be inplace changes
# inplace means that the change is permanent

list1.sort(reverse=True) # "reverse" is called an argument or parameter of a function; we use the boolean value True to indicate that the parameter is active

In [15]:
list1

[78, 52, 45, 18, 9, 8, 5, 3, 3]

In [23]:
list1.pop(-1) # pop() removes a value based on position; to remove the last value we can use pop(-1)

3

In [24]:
list1

[78, 52, 45, 18, 9, 8, 5, 3]

In [25]:
list1.remove(45) # remove value based on the value itself, not position

In [26]:
list1

[78, 52, 18, 9, 8, 5, 3]

In [27]:
# operations which are value-based, NOT index-based, will only apply to the FIRST time the value occurs in the list
list1.append(78)

In [28]:
list1.remove(78) # removing by value doesn't support duplicates

In [29]:
list1

[52, 18, 9, 8, 5, 3, 78]

In [30]:
# we can use the count function to count how many times a value shows up in a list
list1.count(78)

1

In [31]:
# use the index() function to find the position of a value
list1.index(78) # this will tell you that 78 is in the 6th position of the list

6

In [32]:
# we can combine operations together in order to create more dynamic functions
list1[list1.index(78)] = 50

In [33]:
list1

[52, 18, 9, 8, 5, 3, 50]

In [34]:
# insert() takes two arguments > a position and value to insert
list1.insert(4,27) # insert the value 27 in position 4

In [35]:
list1

[52, 18, 9, 8, 27, 5, 3, 50]

In [36]:
# use the extend() function to append multiple values to the list; the extend function takes a list as a parameter
list1.extend([2,85,65])

In [37]:
list1

[52, 18, 9, 8, 27, 5, 3, 50, 2, 85, 65]

In [38]:
list1.append([5,8,98])

In [39]:
# if I use append() instead of extend(), the ENTIRE list will be added as its own item in the original list
# this is called a "nested object"; in this case we have a "nested list"
list1

[52, 18, 9, 8, 27, 5, 3, 50, 2, 85, 65, [5, 8, 98]]

In [41]:
# slicing a nested list is slightly more complicated because we need to add a second slice
list1[-1][-1]

98

In [42]:
# for example, return the first value of the nested list
list1[-1][0]

5

In [43]:
list2 = list1

In [46]:
list1

[52, 18, 9, 8, 27, 5, 3, 50, 2, 85, 65, [5, 8, 98], 32]

In [45]:
list2.append(32)

In [47]:
list2 = list1.copy()

In [48]:
list2.append(50)

In [49]:
list1

[52, 18, 9, 8, 27, 5, 3, 50, 2, 85, 65, [5, 8, 98], 32]

In [51]:
# to extract a range of values
list1[0:5] # this is extracting position 0 up to, but not including position 5

[52, 18, 9, 8, 27]

In [52]:
# you can add a step parameter for skipping over some positions, for ex. returning every other value
list1[0:15:2] # step 2 means every other value (every 2nd value)

[52, 9, 27, 3, 2, 65, 32]

In [53]:
list1[3:] # don't specify ending position if you want to return everything until the end

[8, 27, 5, 3, 50, 2, 85, 65, [5, 8, 98], 32]

In [55]:
list1[:9] # don't specify starting position if you want to return everything starting at the beginning

[52, 18, 9, 8, 27, 5, 3, 50, 2]

In [56]:
list1[::2] # if you don't specify start and end position, slice will return everything; you can add a step parameter after that

[52, 9, 27, 3, 2, 65, 32]

In [57]:
# let's move on to tuples - defined with ROUND brackets

tuple1 = (1,2,3)

In [58]:
# you can count the number of a certain value in a tuple using count()
tuple1.count(2)

1

In [59]:
# you can find the index position of a value using index()
tuple1.index(1)

0

In [60]:
# tuples are NOT mutable; if you try to change them, you will get a TYPE error
tuple1[0] = 20

TypeError: 'tuple' object does not support item assignment

In [61]:
# but you can still slice them like a list
tuple1[0]

1

In [63]:
# sets - sets can only hold unique values. if you add a duplicate, it won't be stored in the set after definition
set1 = {15,48,58,69,78, 78}

In [64]:
set1

{15, 48, 58, 69, 78}

In [65]:
customers_who_bought_bread = {'Anna','Chris','John'}
customer_who_bought_milk = {'John','Marie','Bob'}

In [66]:
# who are all the people that bought bread and milk?
customers_who_bought_bread.intersection(customer_who_bought_milk)

{'John'}

In [68]:
# who bought bread, but did not buy milk?
customers_who_bought_bread.difference(customer_who_bought_milk)

{'Anna', 'Chris'}

In [69]:
# who bought milk, but not bread?
customer_who_bought_milk.difference(customers_who_bought_bread)

{'Bob', 'Marie'}

In [70]:
set1 = {15,48,89,56}
set2 = {48,89}

In [71]:
# is set2 inside set 1?

set2.issubset(set1)

True

In [72]:
# does set1 contain the values in set 2?
set1.issuperset(set2)

True

In [73]:
set1.add(58)

In [74]:
set1

{15, 48, 56, 58, 89}

In [75]:
# dictionary - this is a MAPPING object
# just like sets, to define a dictionary we use curly brackets
# the difference is that dictionaries include a sequence of KEY:VALUE pairs

dict1 = {'House':'A dwelling that people live in', 'Home':'A word used to describe regular dwelling'}

# in this case, we are mapping a WORD to a DEFINITION (so the key = word, value = definition)

In [107]:
# in programming, we can use dictionaries to store unstructured data

dict1 = {'Customer1':['bread','tomatoes','pancakes'],
         'Customer2':['banana','bread'],
         'Customer3':['shoes','newspaper']}

In [77]:
# square brackets in a dictionary are used to access VALUES in the list by specifying the KEY
dict1['Customer1']

['bread', 'tomatoes', 'pancakes']

In [115]:
# if I reference a KEY that does not exist, i can create a NEW key:value pair
dict1['Customer4'] = ['book','banana']

In [79]:
dict1

{'Customer1': ['bread', 'tomatoes', 'pancakes'],
 'Customer2': ['banana', 'bread'],
 'Customer3': ['shoes', 'newspaper'],
 'Customer4': ['book', 'banana']}

In [81]:
# find items available to customers
dict1.values()

dict_values([['bread', 'tomatoes', 'pancakes'], ['banana', 'bread'], ['shoes', 'newspaper'], ['book', 'banana']])

In [82]:
dict2 = {'Customer1':'shoes','Customer2':'book'}

In [85]:
# if the value was only individual values, use set() + list() to find unique values
set(list(dict2.values()))

{'book', 'shoes'}

In [87]:
dict1.keys()

dict_keys(['Customer1', 'Customer2', 'Customer3', 'Customer4'])

In [89]:
dict1.values()

dict_values([['bread', 'tomatoes', 'pancakes'], ['banana', 'bread'], ['shoes', 'newspaper'], ['book', 'banana']])

In [91]:
dict1.items()

dict_items([('Customer1', ['bread', 'tomatoes', 'pancakes']), ('Customer2', ['banana', 'bread']), ('Customer3', ['shoes', 'newspaper']), ('Customer4', ['book', 'banana'])])

In [92]:
dict1['Customer1']

['bread', 'tomatoes', 'pancakes']

In [96]:
list1[-2]=12

In [98]:
list1.sort(reverse=True)

In [99]:
dict1['Customer1']

['bread', 'tomatoes', 'pancakes']

In [109]:
list_items = dict1['Customer1']

In [111]:
list_items.extend(dict1['Customer2'])

In [113]:
list_items.extend(dict1['Customer3'])

In [116]:
list_items.extend(dict1['Customer4'])

In [118]:
unique_inventory_items = set(list_items)

In [120]:
list(unique_inventory_items)

['newspaper', 'bread', 'book', 'shoes', 'banana', 'pancakes', 'tomatoes']

In [124]:
# we can use ITERATION instead of a manual approach
# using a FOR LOOP to iterate through a list of items

for i in unique_inventory_items:
    print(i)

newspaper
bread
book
shoes
banana
pancakes
tomatoes

In [132]:
unique_products = []

for i in dict1.values():
    for each_item in i:
        unique_products.append(each_item)

unique_products = list(set(unique_products))

In [131]:
dict1.values()

dict_values([['bread', 'tomatoes', 'pancakes', 'banana', 'bread', 'shoes', 'newspaper', 'book', 'banana'], ['banana', 'bread'], ['shoes', 'newspaper'], ['book', 'banana']])

In [133]:
unique_products

['newspaper', 'bread', 'book', 'shoes', 'banana', 'pancakes', 'tomatoes']

In [139]:
# loops can be used for many operations

for i in list1:
    print(i*2/3)
    print(f'this is the value when {i} is multiplied by 2 then divided by 3')
    print('finish loop, move on to next value')

56.666666666666664
this is the value when 85 is multiplied by 2 then divided by 3
finish loop, move on to next value
43.333333333333336
this is the value when 65 is multiplied by 2 then divided by 3
finish loop, move on to next value
34.666666666666664
this is the value when 52 is multiplied by 2 then divided by 3
finish loop, move on to next value
33.333333333333336
this is the value when 50 is multiplied by 2 then divided by 3
finish loop, move on to next value
21.333333333333332
this is the value when 32 is multiplied by 2 then divided by 3
finish loop, move on to next value
18.0
this is the value when 27 is multiplied by 2 then divided by 3
finish loop, move on to next value
12.0
this is the value when 18 is multiplied by 2 then divided by 3
finish loop, move on to next value
8.0
this is the value when 12 is multiplied by 2 then divided by 3
finish loop, move on to next value
6.0
this is the value when 9 is multiplied by 2 then divided by 3
finish loop, move on to next value
5.333333333333333
this is the value when 8 is multiplied by 2 then divided by 3
finish loop, move on to next value
3.3333333333333335
this is the value when 5 is multiplied by 2 then divided by 3
finish loop, move on to next value
2.0
this is the value when 3 is multiplied by 2 then divided by 3
finish loop, move on to next value
1.3333333333333333
this is the value when 2 is multiplied by 2 then divided by 3
finish loop, move on to next value

In [140]:
new_list = []

for i in list1:
    new_list.append(i/2*3)

In [141]:
new_list

[127.5, 97.5, 78.0, 75.0, 48.0, 40.5, 27.0, 18.0, 13.5, 12.0, 7.5, 4.5, 3.0]

In [144]:
# how can you use a loop to replace the values in a list with the value * 2?

list1.append(85)

In [145]:
list1.index(85)

0

In [152]:
for i in range(0,len(list1)):
    list1[i] *= 2

In [157]:
for i in range(0,len(list1)):
    print(list1[i]*2)

340
260
208
200
128
108
72
48
36
32
20
12
8
340

In [158]:
list1

[170, 130, 104, 100, 64, 54, 36, 24, 18, 16, 10, 6, 4, 170]

In [147]:
for i in list1:
    print(list1.index(i))

0
1
2
3
4
5
6
7
8
9
10
11
12
0

In [159]:
new_list2 = []
for i in list1:
    new_list2.append(i*2)

In [160]:
new_list2

[340, 260, 208, 200, 128, 108, 72, 48, 36, 32, 20, 12, 8, 340]

In [161]:
# conditional statements
x = 400

if x > 500:
    print("x is greater than 500")
elif x > 200:
    print('x is between 200 and 500')
else:
    print('x is less than 200')

x is between 200 and 500

In [162]:
customer_lifetime_value = {'Customer1':300, 'Customer2':400, 'Customer3':50}

In [163]:
HVL = []
MVL = []
LVL = []

for name,value in customer_lifetime_value.items():
    if value > 300:
        HVL.append(name)
    elif value > 200:
        MVL.append(name)
    else:
        LVL.append(name)

In [164]:
HVL

['Customer2']

In [165]:
MVL

['Customer1']

In [166]:
LVL

['Customer3']