In [7]:
# lists, tuples and sets

list1 = [1,7,6,8,19,2,10] # lists always use square brackets

In [11]:
list1

[1, 7, 6, 8, 19, 2, 10]

In [12]:
# list is a mutable object - let's append (add) a value
list1.append(15)

In [13]:
list1

[1, 7, 6, 8, 19, 2, 10, 15]

In [14]:
# let's remove a value
list1.remove(6)

In [15]:
list1

[1, 7, 8, 19, 2, 10, 15]

In [16]:
# count the number of occurences of a particular value
list1.count(15)

1

In [17]:
# sort values in the list in ascending order
list1.sort()

# this is an in-place change (i.e., permanent change to the list)

In [18]:
list1

[1, 2, 7, 8, 10, 15, 19]

In [19]:
# sort values in descending order
list1.sort(reverse = True)

In [20]:
list1

[19, 15, 10, 8, 7, 2, 1]

In [21]:
# Python starts counting index position at Position 0
# The first value in a list is Position 0, the second value is Position 1 and so on
# Let's isolate the value in the 3rd position using slicing

list1[2]

10

In [22]:
# Let's isolate the value 7

list1[4]

7

In [23]:
# we can replace values in certain positions, by setting them equal to a new value
# this is called Item Assignment

list1[2] = 35

In [24]:
list1

[19, 15, 35, 8, 7, 2, 1]

In [25]:
# to isolate starting from the last position, we begin counting at position -1
list1[-1]

1

In [26]:
# return the second last value
list1[-2]

2

In [27]:
# we can slice ranges; start:up to; the second parameter exclusive
list1[2:5]

[35, 8, 7]

In [28]:
# if we want to start from the beginning, we can simply start with a colon; for example, isolate all values UP TO, but NOT INCLUDING
# position 4
list1[:4]

[19, 15, 35, 8]

In [29]:
# we can also start at a position, and return everything until the end
# for example, start at position 3 and return everything until the end
list1[3:]

[8, 7, 2, 1]

In [30]:
# we can add a second colon with a number to indicate how many steps to take
# step 1 = every value
# step 2 = every other value
# step 3 = every 3rd value
# in this example, we are returning all values, with step 2 - thus, every other value starting at position 0 up until position 7
list1[0:7:2]

[19, 35, 7, 1]

In [33]:
# To simplify this notation, since we want all values in the list, we can write the first colon by itself, followed by colon + 2

list1[::2]

[19, 35, 7, 1]

In [34]:
# Return every 3rd value in the list
list1[::3]

[19, 8, 1]

In [35]:
list1

[19, 15, 35, 8, 7, 2, 1]

In [36]:
# The index() function available in lists, returns the position of a value
# let's check which position the value 19 is in
list1.index(19)

0

In [37]:
list1.index(8)

3

In [38]:
# We can use the index function to identify the index position of a particular value, and we can combine that with a slice
# if we want to replace that value

list1[list1.index(2)] = 25

In [39]:
list1

[19, 15, 35, 8, 7, 25, 1]

In [40]:
# Write a function to replace the number 1 with the number 85, if you did not know the position
list1[list1.index(1)] = 85

In [41]:
list1

[19, 15, 35, 8, 7, 25, 85]

In [42]:
# we can use the insert() function to add a value at a particular position in the list
# let's add the value 52 in position 4

list1.insert(4,52)

In [43]:
list1

[19, 15, 35, 8, 52, 7, 25, 85]

In [44]:
# We can use the pop() function to remove a value based on a particular position
# Let's remove the value in position 1

list1.pop(1)

15

In [45]:
list1

[19, 35, 8, 52, 7, 25, 85]

In [46]:
# create a second list
list2 = [56,87,85,24]

In [47]:
# combine 2 lists together - we cannot use append because append only adds single objects to a list
# the output of using append is a list inside a list
list1.append(list2)

In [51]:
list1

[19, 35, 8, 52, 7, 25, 85, [56, 87, 85, 24]]

In [50]:
# If we kept this and wanted to isolate the value 87 for example, we would have to isolate the internal list 
# and then the particular value
list1[-1][1]

87

In [52]:
# Instead, let's remove the inner list using the pop() function
list1.pop(-1)

[56, 87, 85, 24]

In [53]:
# and let's try to combine the lists using extend()

list1.extend(list2)

In [54]:
list1 # with the extend() function, all the values become part of one list

[19, 35, 8, 52, 7, 25, 85, 56, 87, 85, 24]

In [55]:
# if you want to temporarily combine the values of two lists you can use the "+"
# You could save this as a new list by writing list3 = list1+list2, if you don't want to overwrite your original list

list1 + list2

[19, 35, 8, 52, 7, 25, 85, 56, 87, 85, 24, 56, 87, 85, 24]

In [56]:
list1

[19, 35, 8, 52, 7, 25, 85, 56, 87, 85, 24]

In [58]:
# Suppose we want to make a copy of a list to test a change, we cannot simply set a new variable equal to an existing variable
list3 = list1

In [59]:
# if we do that, and make a change to the new variable, both variables will be impacted
list3.append(789)

In [60]:
list3

[19, 35, 8, 52, 7, 25, 85, 56, 87, 85, 24, 789]

In [61]:
list1

[19, 35, 8, 52, 7, 25, 85, 56, 87, 85, 24, 789]

In [62]:
# the reason the above happens is because we are simply making a new POINTER object to an existing variable
# in the above case, both variable names "list3" and "list1" are pointing to the SAME list
# if we change one, the other also changes

In [63]:
# instead, we need to use the copy() function

list3 = list1.copy()

In [64]:
# now I can edit list3 in peace

list3.append(249)

In [65]:
list3

[19, 35, 8, 52, 7, 25, 85, 56, 87, 85, 24, 789, 249]

In [66]:
list1 # list1 remains unchanged

[19, 35, 8, 52, 7, 25, 85, 56, 87, 85, 24, 789]

In [67]:
# Let's move on to Tuples - tuples are IMMUTABLE objects, which means the values in them CANNOT be changed
# we declare a Tuple using round brackets () 

tuple1 = (4,5,8,9,65,10)

In [68]:
# there are only 2 functions for tuples - count() and index()
# count the number of times a value appears
tuple1.count(65)

1

In [69]:
# use index() to find the position of a value
tuple1.index(65)

4

In [70]:
# We can slice tuples in the same way as lists
tuple1[3]

9

In [71]:
# However, we CANNOT overwrite values in a tuple
tuple1[3] = 100

TypeError: 'tuple' object does not support item assignment

In [152]:
# The last sequential object we have is called a Set; sets are powerful because they can isolate unique values and intersections
# suppose we have a list with duplicates

list1 = [10,12,52,65,65,12,52,10,10]

In [81]:
# we can use the set() function and apply it to a list to remove all of the duplicates
set1 = set(list1)

In [82]:
set1

{10, 12, 52, 65}

In [83]:
# we can also create a set using curly brackets {}; even if we include duplicates, they will be removed
set2 = {12,15,10,10,65,67,89}

In [84]:
set2

{10, 12, 15, 65, 67, 89}

In [88]:
# we can't slice a set, or assign a value to a position
set1[0] = 12

TypeError: 'set' object does not support item assignment

In [92]:
# we can still manipulate the set by using the add() function to append a new value
set1.add(28)

In [93]:
# The set will organize the data in ascending order and put the value in the appropriate position
set1

{10, 12, 28, 52, 65}

In [94]:
print(set1)
print(set2)

{65, 10, 12, 52, 28}
{65, 67, 89, 10, 12, 15}

In [95]:
# we can use the difference() function to find the values which exist in set1, but do not exist in set2
set1.difference(set2)

{28, 52}

In [96]:
# or the other way around
set2.difference(set1)

{15, 67, 89}

In [97]:
# we can use the intersection() function to find the common values between two sets
set1.intersection(set2)

{10, 12, 65}

In [98]:
# if you want to see if a set is completly part of another set
set1.issubset(set2)

False

In [100]:
# if you want to see if a set completely includes another set, you can use superset
set1.issuperset(set2)

False

In [102]:
# if we had a new set which includes values from set 1, then we can check that set3 is a subset of set1
set3 = {10,12,28}

In [103]:
set3.issubset(set1)

True

In [104]:
set1.issuperset(set3)

True

In [107]:
print(set1)
print(set3)

{65, 10, 12, 52, 28}
{10, 12, 28}

In [108]:
# the last object we will learn about is a Dictionary; dictionaries use pairs of values called Key-Value Pairs

dictionary = {'customer1':35, 'customer2':40, 'customer3':28}

# dictionaries use Key-Value pairs separated by a COLON; each pair is separated from other pairs by a COMMA

In [109]:
# dictionaries are commonly used for unstructured data
dictionary = {'Anne':['shoes','handbag','sunglasses'], 'Chris':['shoes','tshirt','shorts'], 'Maria':['book'], 'Mike':['book','soap']}

In [111]:
# this is an example of a NESTED dictionary that may hold multiple levels of unstructured data
nested_dictionary = {"Customers":
                     {'customer_details':
                      {'Names':['Anne','Maria'],
                       'Addresses':['123 Main','258 main']},
                      'customer_purchases':
                       {'books':['book1']}}}

In [112]:
# returning to our simple example
# when we 'slice' or a data point in a dictionary, we have to identify they KEY which we want to isolate
# I'll still use square brackets to isolate a value, but this time instead of position, i'm using a KEY
# Let's see what Anne purchased

dictionary['Anne']

['shoes', 'handbag', 'sunglasses']

In [113]:
# If i reference a non-existent key, I can create a new KEY-VALUE pair

dictionary['Joe'] = ['book','coffee','shoes','sunglasses']

In [114]:
dictionary

{'Anne': ['shoes', 'handbag', 'sunglasses'],
 'Chris': ['shoes', 'tshirt', 'shorts'],
 'Maria': ['book'],
 'Mike': ['book', 'soap'],
 'Joe': ['book', 'coffee', 'shoes', 'sunglasses']}

In [115]:
# we can also isolate a value using the get() function

dictionary.get('Anne')

['shoes', 'handbag', 'sunglasses']

In [121]:
# I can use update() to add a new observation

dictionary.update({'Karen':['book','apples']})

In [122]:
dictionary

{'Anne': ['shoes', 'handbag', 'sunglasses'],
 'Chris': ['shoes', 'tshirt', 'shorts'],
 'Maria': ['book'],
 'Mike': ['book', 'soap'],
 'Joe': ['book', 'coffee', 'shoes', 'sunglasses'],
 'Karen': ['book', 'apples']}

In [123]:
# returns a list of Tuples which holds key/value pairs
dictionary.items()

dict_items([('Anne', ['shoes', 'handbag', 'sunglasses']), ('Chris', ['shoes', 'tshirt', 'shorts']), ('Maria', ['book']), ('Mike', ['book', 'soap']), ('Joe', ['book', 'coffee', 'shoes', 'sunglasses']), ('Karen', ['book', 'apples'])])

In [124]:
# returns only the keys
dictionary.keys()

dict_keys(['Anne', 'Chris', 'Maria', 'Mike', 'Joe', 'Karen'])

In [125]:
# returns only the values
dictionary.values()

dict_values([['shoes', 'handbag', 'sunglasses'], ['shoes', 'tshirt', 'shorts'], ['book'], ['book', 'soap'], ['book', 'coffee', 'shoes', 'sunglasses'], ['book', 'apples']])

In [128]:
# let's move on to LOOPS - a Loop is a method for iterating through a sequenced object
# let's say I wanted to multiply each value by 2
# the manual way of doing this, is to isolate each position, and return the value multiplied by 2

list2[0] = list2[0]*2
list2[1] = list2[1]*2
list2[2] = list2[2]*2
list2[3] = list2[3]*2

In [129]:
list2

[112, 174, 170, 48]

In [131]:
# instead of the manual approach, we can use a loop
# let's divide all the values by two to return to original values
# this is just a temporary change, vs the above was permanent

for i in list2:
    print(i/2)

56.0
87.0
85.0
24.0

In [132]:
list2

[112, 174, 170, 48]

In [133]:
# how can we permanently divide values by 2 with a loop?

for i in list2:
    list2[list2.index(i)] = i/2

In [134]:
# what can we do to convert the float to an integer?

list2

[56.0, 87.0, 85.0, 24.0]

In [137]:
# add the int() function to the output

for i in list2:
    list2[list2.index(i)] = int(i/2)

In [138]:
list2

[14, 21, 21, 6]

In [143]:
list1

[10, 12, 52, 65, 65, 12, 52, 10, 10]

In [153]:
# let's write a function which only multiplies the values divisible by 2, by 3, and everything else stays the same
# we are setting a condition which checks if a value is divisible by 2
# then if yes, multiply the value by 3 and replace in the list
# if no, simply return the value from the original list

for i in list1:
    if i % 2 == 0:
        list1[list1.index(i)] = i * 3
    else:
        list1[list1.index(i)] = i

print(list1)

[30, 36, 156, 65, 65, 36, 156, 30, 30]

In [154]:
# let's look at an example with multiple conditions; 
# let's add a second condition > if the value is divisible by 3, we multiply it by 4

for i in list1:
    if i % 2 == 0:
        list1[list1.index(i)] = i * 3
    elif i % 3 == 0:
        list1[list1.index(i)] = i * 4
    else:
        list1[list1.index(i)] = i

print(list1)

[90, 108, 468, 65, 65, 108, 468, 90, 90]

In [164]:
# let's reset list1 with simpler numbers
list1 = [2,6,5,9,10]

In [165]:
list1

[2, 6, 5, 9, 10]

In [166]:
# we need to dicide how to treat values divisible by 2 OR by 3 (for example 30, or 90)
# then, we need to design the order of operations to follow that logic / treatment
# in the updated logic, we check if the value is divisible by 2 AND 3, and multiply by 4
# if the value is only divisible by 2, multiply by 3
# if only divisible by 3, multiply by 5

for i in list1:
    if i % 2 == 0 and i % 3 == 0:
        list1[list1.index(i)] = i * 4
    elif i % 2 == 0:
        list1[list1.index(i)] = i * 3
    elif i % 3 == 0:
        list1[list1.index(i)] = i * 5
    else:
        list1[list1.index(i)] = i

list1

[24, 6, 5, 45, 30]

In [167]:
# if you don't want to overwrite the list, you can store values in a new list

list_new = []

for i in list1:
    if i % 2 == 0 and i % 3 == 0:
        list_new.append(i * 4)
    elif i % 2 == 0:
        list_new.append(i * 3)
    elif i % 3 == 0:
        list_new.append(i * 5)
    else:
        list_new.append(i)

list_new

[96, 24, 5, 225, 120]