In [3]:
2+2

4

In [2]:
3+3

6

In [4]:
x = 5

In [5]:
# defining a variable
x = 7

In [6]:
# displaying the variable previously defined
print(x)

7

In [7]:
# demonstrating using a defined variable later in a program
x + 6

13

In [8]:
# delete a variable from memory
del x

In [9]:
print(x) # if we delete a variable, we will get a NameError if we try to call it again after deletion

NameError: name 'x' is not defined

In [10]:
x = 20

In [11]:
y = 35 # define second variable

In [12]:
print(x * y) # multiply both variables

700

In [13]:
# with a single operation, we don't need the print function to display at output in Jupyter
x * y

700

In [14]:
# however, if we want to display multiple outputs, without the print function only the last output is displayed
x
y
x*y

700

In [15]:
# so we need the print function for each output we want to display
print(x)
print(y)
print(x*y)

20
35
700

In [16]:
# check the data type of the variable x
type(x)

int

In [17]:
# check the data type of a variable with a decimal
type(30.85)

float

In [18]:
# check the data type of text
type("hello")

str

In [19]:
# you can also use single quotes
type('hello')

str

In [20]:
# you can't have both quotations in the same string, this will return a SyntaxError
type("hello')

SyntaxError: EOL while scanning string literal (1482314694.py, line 2)

In [21]:
x + 30.85

50.85

In [22]:
# we cannot perform mathematical operations between integeners or floats AND strings
y = '20'

In [23]:
# if we define a variable which is a number, surrounded by quotes, it gets stored as a string
type(y)

str

In [24]:
# trying to add a integer + string will result in a TypeError
x + y

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [25]:
# no problem when multiplying integers and floats; the output will be a float
x * 20.34

406.8

In [26]:
# we can multiply an integer by a string, but the output will be a duplication of the string
x * y

'2020202020202020202020202020202020202020'

In [29]:
# let's look at one more example: 5 * "hello" will copy the word "hello" 5 times
5 * "hello"

'hellohellohellohellohello'

In [30]:
# we cannot divide a string by an integer - this will result in a TypeError

'hellohellohellohellohello' / 5

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [32]:
# a Single Dash is just plain division; the output of regular division is always a float - whether there is a remainder or not
6 / 4

1.5

In [33]:
# double dash is Floor Division; the output of floor division is always an integer
6 // 4

1

In [34]:
# we can use the modulo to return the remainder of a division
6 % 4

2

In [35]:
# for example, dividing 50 by 2 will return a float with a decimal of 0
50/2

25.0

In [36]:
# While a single equal sign = is used to set a variable, a double equal sign == is used to check for equivalence
50 == 50

True

In [37]:
# There are no quotations around the word "True"; this is a special data type called a Boolean value, and True == 1 while False == 0
True == 1

True

In [40]:
# I can use True and False in math operations

(2 / 3 == 1.5) + 7

7

In [42]:
# The output of 3/2==1.5 is True, therefore I can add True + 7 which is the same as 1+7 which equals 8
(3 / 2 == 1.5) + 7

8

In [45]:
# For example, let's say the average $ spend of a customer is $50, we count them towards a list of "high value customers"
count_of_hv_customers = 0
total_spend = 90
num_of_transactions = 2
avg_spend = total_spend/num_of_transactions
(avg_spend == 50) + count_of_hv_customers

0

In [46]:
a = 5
b = 10

(a**2 + b**2) == (a+b)**2

False

In [48]:
a**2

25

In [49]:
b**2

100

In [50]:
(a+b)

15

In [51]:
(a+b)**2

225

In [52]:
# We can use equivalency to check if code is working as expected
50 == ((a+b)**2 / 1.5)

False

In [53]:
25 == ((a+b)**2 / 9)

True

In [54]:
# other comparison operators include Greater Than, Less Than, Not Equal To

# greater than
50 > a

True

In [55]:
# less than
50 < a

False

In [56]:
# greater than or equal
50 >= a

True

In [57]:
# less than or equal
50 <= a

False

In [58]:
# not equal
50 != a

True