For writing paragraphs or bullets use Markdown cells

* bullet
- bullet

In [1]:
2+2

4

In [3]:
# Explain small snippets of code
# I'm adding 2 + 2
2+2

4

### Defining Variables and Data Types
In this section, we are going to define a few variables, one from each data type, including integers, floats, dictionaries, lists, tuples, etc.

In [4]:
# Defining variable X as an integer

X = 5

In [5]:
X

5

In [6]:
# Use a print() function to display a variable
print(X)

5

In [7]:
# We can print undefined values
print('Hello World')

Hello World

In [8]:
# We can add multiple items to print, separated by a comma, including operations
print("My name is: ","Delina",15*2)

My name is:  Delina 30

In [11]:
# We can also create f-strings which can update dynamically

Name = "Sam"

In [12]:
# let's print the name based on what is stored in the variable

print(f"My name is {Name}")

My name is Sam

In [14]:
X = 7
Y = 3.2
Z = 'Hello'

In [15]:
X

7

In [16]:
type(X)

int

In [17]:
type(Y)

float

In [18]:
type(Z)

str

In [20]:
print(type(Y))
print(type(Z))
print(type(X))

<class 'float'>
<class 'str'>
<class 'int'>

In [21]:
print(type(X),type(Z),type(Y))

<class 'int'> <class 'str'> <class 'float'>

In [27]:
print(f"The data type of variable X is {type(X)}, \
      while the data type of variable Y is {type(Y)}, \
      and the data type of variable Z is {type(Z)}")

The data type of variable X is <class 'int'>,       while the data type of variable Y is <class 'float'>,       and the data type of variable Z is <class 'str'>

In [28]:
# Suppose by accident we defined a variable as "type" which is also the name of the function type()
type = 5

In [30]:
# The function won't work, so we need to delete the variable
del type

In [36]:
# use int() as a function to convert a value from one data type to an integer
print(int(5.4))
print(int("5"))

5
5

In [33]:
# similarly we can use str() and float()
print(str(5))
print(str(5.4))

print(type(str(5)))
print(type(str(5.4)))

5
5.4
<class 'str'>
<class 'str'>

In [34]:
# similarly with the float function

print(float(5))
print(float("5"))

5.0
5.0

### Lists, Tuples, Dictionaries, and Sets

These are other built-in collection data types which can hold multiple values

In [37]:
# Let's start with lists
list_1 = [12, 15, 28, 3, 6]

#### List Methods

Once an object belongs to a class, in this case list_1 is defined as an object which is in the list class (because we are using square brackets to store the data), the object has access to certain methods available to objects from that class.

The syntax in this case is object_name.method(argument1, argument2, argument3)

In [40]:
# Let's start with the append function
list_1.append(58)

In [39]:
list_1

[12, 15, 28, 3, 6, 58]

In [41]:
# Let's try the sort function - if we don't pass any arguments, the list is sorted in ascending order
list_1.sort()

In [42]:
list_1

[3, 6, 12, 15, 28, 58, 58]

In [43]:
# If we want to sort the list in reverse, the function supports a reverse=True
list_1.sort(reverse=True)

In [44]:
list_1

[58, 58, 28, 15, 12, 6, 3]

In [45]:
# Count the number of 58 values
list_1.count(58)

2

In [46]:
# Count the number of 6
list_1.count(6)

1

In [47]:
# Use the extend() function to combine two lists
list_1.extend([5,4,8,6,89])

In [48]:
list_1

[58, 58, 28, 15, 12, 6, 3, 5, 4, 8, 6, 89]

In [49]:
list_2 = [58, 64, 34, 25]

In [51]:
list_1.extend(list_2)

In [55]:
print(list_1)

[58, 58, 28, 15, 12, 6, 3, 5, 4, 8, 6, 89, 58, 64, 34, 25, [58, 64, 34, 25]]

In [53]:
# If I use append() instead of extend(), I will get a nested list (list inside a list)
list_1.append(list_2)

In [54]:
list_1

[58, 58, 28, 15, 12, 6, 3, 5, 4, 8, 6, 89, 58, 64, 34, 25, [58, 64, 34, 25]]

In [56]:
# We can use square brackets for indexing - Python start counting at index 0
list_1[0]

58

In [58]:
# An index is the position of a value in an object. Let's find the second value
list_1[1]

58

In [59]:
# The third value in the list is located at index 2
list_1[2]

28

In [61]:
# This is also called list Slicing. Let's say we wanted the first 5 values
list_1[0:5] # This is "Position 0 up to, but not including Position 5"

[58, 58, 28, 15, 12]

In [62]:
# If we start at the beginning, we can simply write ":5" instead of "0:5"
list_1[:5]

[58, 58, 28, 15, 12]

In [63]:
# We can add a third parameter to return every X value (e.g., every 2nd value)
list_1[0:10:2] # The ":2" is called a STEP - every 2nd step

[58, 28, 12, 3, 4]

In [66]:
list_1

[58, 58, 28, 15, 12, 6, 3, 5, 4, 8, 6, 89, 58, 64, 34, 25, [58, 64, 34, 25]]

In [68]:
# Return every other value from the full list
# Use a single colon (without start/end position, if it's the full list) 
# then add ":2" to specify every other value

list_1[::2]

[58, 28, 12, 3, 4, 6, 58, 34, [58, 64, 34, 25]]

In [70]:
# Since the last value in our list_1 object is a list itself, we can double slice
list_1[-1][2] # add argument to return the 3rd value in the nested list

34

In [74]:
# Counting backwards > we use negative signs starting at -1, but the arguments are still read left to right
# Let's say I want the last 3 values of the list

list_1[-1:-4] #this will not work, since positions are still read left to right

[]

In [73]:
# I actually need to write:
list_1[-4:-1]

[64, 34, 25]