### Tuples, Dictionaries, Sets

In [12]:
list_1 = [1,2,5,58,15,8,25,9,87,54,58,6,98]

In [6]:
list_1[5]

87

In [10]:
list_1.index(87)

8

In [7]:
list_1[5:]

[87, 54, 6]

In [13]:
# use the index() function to dynamically find a position; you can put the index() function inside a slice, as long as the output is an integer
list_1[list_1.index(87):]

[87, 54, 58, 6, 98]

In [14]:
# Intro to tuples

tuple_1 = (58,65,84,87,12,59,87,25)

In [15]:
tuple_1

(58, 65, 84, 87, 12, 59, 87, 25)

In [16]:
list_1

[1, 2, 5, 58, 15, 8, 25, 9, 87, 54, 58, 6, 98]

In [17]:
# lists are mutable; I can change the values in a list by replacing, adding or removing
list_1[0] = 10

In [18]:
list_1

[10, 2, 5, 58, 15, 8, 25, 9, 87, 54, 58, 6, 98]

In [19]:
# on the other hand, tuples do not support item assignment
tuple_1[0] = 10

TypeError: 'tuple' object does not support item assignment

In [20]:
tuple_1.append(13)

AttributeError: 'tuple' object has no attribute 'append'

In [21]:
# tuples only have 2 functions/methods available called count() and index() with the same functionality as lists
tuple_1.count(58)

1

In [22]:
tuple_1.index(58)

0

In [23]:
# we can still slice tuples the same way we can slice lists
tuple_1[0]

58

In [24]:
list_1.index(58)

3

In [25]:
# Let's review Sets

set_1 = {15,25,28,45,65,98,100}

In [26]:
# sets do not support slicing
set_1[0]

TypeError: 'set' object is not subscriptable

In [27]:
# we can use the set() function to convert one object to a set, and it will sort smallest to largest and remove duplicates
set(list_1)

{2, 5, 6, 8, 9, 10, 15, 25, 54, 58, 87, 98}

In [28]:
# similarly we can use the tuple function to convert a list to a tuple
tuple(list_1)

(10, 2, 5, 58, 15, 8, 25, 9, 87, 54, 58, 6, 98)

In [29]:
# use the list function to convert a set or tuple to a list
list(tuple_1)

[58, 65, 84, 87, 12, 59, 87, 25]

In [38]:
# let's define two sets of customer lists - suppose we're looking for unique customers who shop across multiple stores
set_cust_store1 = {'Anna', 'Mike', 'Chris', 'John'}
set_cust_store2 = {'Anna', 'Mike','Jacob', 'Marie', 'Lauren'}

In [31]:
# use the difference() function to find the customers who are in Set 1 but NOT in set 2
set_cust_store1.difference(set_cust_store2)

{'Chris', 'John'}

In [32]:
# use the difference() function to find the customers who are in Set 2 but NOT in set 1
set_cust_store2.difference(set_cust_store1)

{'Jacob', 'Lauren', 'Marie'}

In [34]:
# use intersection() to see which customers in set 1 show up also in set 2
set_cust_store1.intersection(set_cust_store2)

{'Anna', 'Mike'}

In [36]:
# use difference_update() to keep only the values in the first set which are NOT found in set 2
set_cust_store1.difference_update(set_cust_store2)

In [37]:
set_cust_store1

{'Chris', 'John'}

In [39]:
# issubset() will show me whether one set can be found inside another
set_cust_store1.issubset(set_cust_store2)

False

In [40]:
# issubset() will show me whether one set contains another set
set_cust_store1.issuperset(set_cust_store2)

False

In [41]:
set1 = {1,2,3}
set2 = {1,2,3,4,5,6}

In [42]:
set1.issubset(set2)

True

In [43]:
set2.issuperset(set1)

True

In [44]:
# Let's move on to Dictionary types; while dictionaries also use curly brackets, they have key:value pairs
dict_1 = {"ON":"Toronto", "QC":"Quebec City", "BC":"Winnipeg", "BC":"Victoria"}

In [45]:
# when slicing a dictionary, unlike lists and tuples which take position values, we slice a dictionary based on the KEY value
dict_1["ON"]

'Toronto'

In [46]:
# the way we add new items to the dictionary is by referencing a key that doesn't exist
dict_1["SK"] = "Regina"

In [47]:
dict_1

{'ON': 'Toronto', 'QC': 'Quebec City', 'BC': 'Victoria', 'SK': 'Regina'}

In [48]:
# we can use pop() to remove a key/value pair
dict_1.pop("BC")

'Victoria'

In [49]:
dict_1

{'ON': 'Toronto', 'QC': 'Quebec City', 'SK': 'Regina'}

In [50]:
# see all the keys at once using the keys() attribute
dict_1.keys()

dict_keys(['ON', 'QC', 'SK'])

In [51]:
# see all the values at once using the values() attribute
dict_1.values()

dict_values(['Toronto', 'Quebec City', 'Regina'])

In [54]:
# see key value pairs at once using items()
dict_1.items()

dict_items([('ON', 'Toronto'), ('QC', 'Quebec City'), ('SK', 'Regina')])

### Iteration

In [55]:
list_1

[10, 2, 5, 58, 15, 8, 25, 9, 87, 54, 58, 6, 98]

In [57]:
# suppose we wanted to multiply each value in a list by 2, the following is very inefficient
list_1[0]*2
list_1[1]*2
list_1[2]*2

10

In [59]:
# instead of that, we can use a For Loop
for each_item in list_1:
    print(each_item*2)

20
4
10
116
30
16
50
18
174
108
116
12
196

In [61]:
# the syntax says "for every value in specified object, perform some action"
for i in list_1:
    print(i+2)
    print(i*2)
    print(f"{i}*2 is equal to {i*2}")

12
20
10*2 is equal to 20
4
4
2*2 is equal to 4
7
10
5*2 is equal to 10
60
116
58*2 is equal to 116
17
30
15*2 is equal to 30
10
16
8*2 is equal to 16
27
50
25*2 is equal to 50
11
18
9*2 is equal to 18
89
174
87*2 is equal to 174
56
108
54*2 is equal to 108
60
116
58*2 is equal to 116
8
12
6*2 is equal to 12
100
196
98*2 is equal to 196

In [63]:
list_1[0] = list_1[0]*2

In [64]:
list_1

[20, 2, 5, 58, 15, 8, 25, 9, 87, 54, 58, 6, 98]

In [65]:
# Write a for-loop statement which can REPLACE the values in the list with the value multiplied by 2
for i in list_1:
    i *= 2

In [66]:
list_1

[20, 2, 5, 58, 15, 8, 25, 9, 87, 54, 58, 6, 98]

In [68]:
for i in list_1:
    print(i*2)

40
4
10
116
30
16
50
18
174
108
116
12
196

In [69]:
list_1

[20, 2, 5, 58, 15, 8, 25, 9, 87, 54, 58, 6, 98]

In [70]:
list_1.index(20)

0

In [ ]:
#list_1[position] = list_1[position]*2

In [71]:
for i in list_1:
    list_1[list_1.index(i)] *= 2

In [72]:
list_1

[40, 4, 10, 116, 30, 16, 50, 18, 174, 108, 116, 12, 196]

In [73]:
# let's say I want to multiply everything by 2, but I don't want to replace the values in my existing list. I want to create a new list

new_list = []
for i in list_1:
    new_list.append(i*2)

In [74]:
new_list

[80, 8, 20, 232, 60, 32, 100, 36, 348, 216, 232, 24, 392]

In [75]:
second_list = []

for i in list_1:
    a = i*2
    b = a/13
    c = b**3
    second_list.append(c)

In [77]:
c

27417.518434228492

In [78]:
second_list

[233.04506144742834,
 0.23304506144742834,
 3.641329085116068,
 5683.736003641329,
 98.3158852981338,
 14.914883932635414,
 455.16613563950847,
 21.236231224396903,
 19182.609012289486,
 4587.025944469732,
 5683.736003641329,
 6.292216659080565,
 27417.518434228492]

In [79]:
for i in tuple_1:
    print(i)

58
65
84
87
12
59
87
25

In [80]:
for i in set1:
    print(i)

1
2
3

In [81]:
# Dictionary
dict_1

{'ON': 'Toronto', 'QC': 'Quebec City', 'SK': 'Regina'}

In [82]:
# when looping through a dictionary, if I only give the loop 1 variable to work with, it will return the keys only
for i in dict_1:
    print(i)

ON
QC
SK

In [83]:
# the items() function returns the key value pair
for i in dict_1.items():
    print(i)

('ON', 'Toronto')
('QC', 'Quebec City')
('SK', 'Regina')

In [85]:
list_3 = [1,3,7,8]

In [86]:
# we can define a variable that corresponds with each value in a list
a, b, c, d = [1,3,7,8]

In [87]:
a

1

In [88]:
b

3

In [89]:
# we can do the same with tuples
a, b, c, d = (5, 8, 9, 7)

In [90]:
print(a, b)

5 8

In [91]:
for x,y in dict_1.items():
    print(x)
    print(y)

ON
Toronto
QC
Quebec City
SK
Regina

In [93]:
provinces = []
capitals = []

for x,y in dict_1.items():
    provinces.append(x)
    capitals.append(y)

In [94]:
provinces

['ON', 'QC', 'SK']

In [96]:
capitals

['Toronto', 'Quebec City', 'Regina']

In [97]:
# Suppose we had a nested object inside a dictionary 
delivery_locations = {"ON":["Toronto", "London", "Ottawa", "Windsor", "Sarnia"], "QC":["Montreal","Quebec City","Laval"], "BC":["Vancouver","Victoria"]}

In [99]:
for a,b in delivery_locations.items():
    print(a)
    print(b)

ON
['Toronto', 'London', 'Ottawa', 'Windsor', 'Sarnia']
QC
['Montreal', 'Quebec City', 'Laval']
BC
['Vancouver', 'Victoria']

In [100]:
megalist_of_cities = []

for a,b in delivery_locations.items():
    for i in b:
        megalist_of_cities.append(i)

In [101]:
megalist_of_cities

['Toronto',
 'London',
 'Ottawa',
 'Windsor',
 'Sarnia',
 'Montreal',
 'Quebec City',
 'Laval',
 'Vancouver',
 'Victoria']

## Conditional logic

In [112]:
x = 6*4**(4/30)*5**4%13

In [109]:
if x > 100:
    print("X is greater than 5")
else:
    print("X is less than 100 or equal to 100")

X is less than 100 or equal to 100

In [111]:
x

7.2181502164927

In [113]:
if type(x) == float:
    print("X is a float")
elif type(x) != float:
    print("X is an integer")

if x >= 100:
    
    print("X is greater than 100")
else:
    print("X is less than 100")

X is a float
X is less than 100

In [114]:
x

0.3438853079369437

In [115]:
if type(x) == float and x < 1:
    print("x is a fraction")
elif type(x) == float and x > 1:
    print("x is greater than 1 and still a fraction")
else:
    print("x is an integer")

x is a fraction

In [116]:
# condition combinations we can use for conditional statements: and, in, or, not, is not, not in, is

list_1

[40, 4, 10, 116, 30, 16, 50, 18, 174, 108, 116, 12, 196]

In [119]:
# example of using the AND condition
if sum(list_1) > 1000 and len(list_1) > 10:
    print(f"The average of the list is {sum(list_1)/len(list_1)}")
else:
    print(f"The minimum value in the list is {min(list_1)}, and the max is {max(list_1)}")

The minimum value in the list is 4, and the max is 196

In [120]:
# example of using the IN condition
if 116 in list_1:
    print("list 1 has the value 116")
else:
    print("the value is not there")

list 1 has the value 116

In [121]:
# if we want to check whether one OR another condition is met, we use "or"
if sum(list_1) > 1000 or len(list_1) > 10:
    print(f"The average of the list is {sum(list_1)/len(list_1)}")
else:
    print(f"The minimum value in the list is {min(list_1)}, and the max is {max(list_1)}")

The average of the list is 68.46153846153847

In [122]:
if 116 not in list_1:
    print("it's not in the list")
else:
    print("it's in the list")

it's in the list

In [125]:
list_11 = []

if not list_11:
    print("the list is empty")

the list is empty

In [126]:
# putting "not" infront of a condition will check the OPPOSITE of the condition

if not sum(list_1) > 1000:
    print("the sum of list 1 is not greater than 1000")

the sum of list 1 is not greater than 1000

#####  the words "and", "not", etc. also have symbol representations used in other applications >>  and = &, or = |, not = ~, is = ==

In [131]:
# now let's combine for loops and conditional statements
# let's only apply a treatment to values divisible by 3
for i in list_1:
    if i % 3 == 0: # if dividing the value by 3 results in NO remainder
        list_1[list_1.index(i)] **= 2 #raise these values to an exponent of 2
    else:
        continue # the loop will continue to the next value, if a value does not meet the condition

In [132]:
list_1

[40, 4, 10, 116, 900, 16, 50, 324, 30276, 11664, 116, 144, 196]

In [133]:
for i in list_1:
    if i%3 == 0:
        list_1[list_1.index(i)] **= 2
    elif i%5 == 0:
        list_1[list_1.index(i)] **= 3
    else:
        continue

list_1

[64000,
 4,
 1000,
 116,
 810000,
 16,
 125000,
 104976,
 916636176,
 136048896,
 116,
 20736,
 196]

### Defining Custom Functions

In [135]:
# calculating the average of a list - if we wanted to do it in core Python, we could simply use sum() and len()

sum(list_1) / len(list_1)

81062402.46153846

In [137]:
sum(list_3)/len(list_3)

4.75

In [138]:
# the purpose of defining custom functions is to store a procedure and only have to use a single line to apply to multiple objects

def mean(x): # x is a placeholder
    return sum(x)/len(x)

In [139]:
mean(list_1)

81062402.46153846

In [141]:
mean(list_3)

4.75

In [142]:
# print averages for both lists at once

for i in [list_1, list_3]:
    print(mean(i))

81062402.46153846
4.75

In [159]:
def comparing_sets(x, y): # this function takes two inputs
    common_values = x.intersection(y)
    values_in_x_only = x.difference(y)
    values_in_y_only = y.difference(x)
    combined_differences = list(values_in_x_only)
    combined_differences.extend(list(values_in_y_only))
    return combined_differences

In [145]:
set_1

{15, 25, 28, 45, 65, 98, 100}

In [148]:
set_2 = {15,25,45,855,657,879}

In [160]:
comparing_sets(set_1,set_2)

[65, 98, 100, 28, 657, 879, 855]

In [167]:
# Build a function which is able to calculate the MEDIAN value of a list

def median(x):
    x.sort() # sort the list
    if len(x) % 2 == 0: # check if list has even number of numbers
        median = (x[len(x)//2] + x[(len(x)//2)-1])/2
    else: # if list has odd number of numbers
        median = x[len(x)//2]
    return median

In [166]:
(len(list_1)+1)//2

7

In [165]:
even_list = [5,8,9,15,28,35,44,68]
odd_list = [8,9,5,84,79,25,6]

In [168]:
median(even_list)

21.5

In [169]:
median(odd_list)

9

In [164]:
list_1

[64000,
 4,
 1000,
 116,
 810000,
 16,
 125000,
 104976,
 916636176,
 136048896,
 116,
 20736,
 196]